.flex-container {
   display: flex;
 }
 
 .flex-container div {
   border: 3px solid brown;
   height: 80px;
   background: #1f2937;
   flex: 1;  
 }

 .two {
   word-spacing: 25px;
   color: #F9FAf8;
   text-align: center;
}

.one {
   font-size: 20px;
   color: #e5e7eb;
   text-align: center;
}

.flex-container2 {
   display: flex;
 }
 
 .flex-container2 div {
   flex-direction: column;
   height: 500px;
   border: 3px solid brown;
   background: #1f2937;
   flex: 1;  
 }

.A {
   display: flex;
   text-align: center;
   justify-content: center;
   font-weight: 800;
 color: #F9FAF8
}

.B {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-height: 300px;
}