.flex-container {
   display: flex;
 }
 
 .flex-container div {
   border: 3px solid brown;
   height: 80px;
   background: #1f2937;
   flex: 1;  
 }

 .two {
   word-spacing: 25px;
   color: #F9FAf8;
   text-align: center;
}

.one {
   font-size: 20px;
   font-weight: bold;
   color: #e5e7eb;
   text-align: center;
}

.flex-container2 {
   display: flex;
 }
 
 .flex-container2 div {
   flex-direction: column;
   height: 500px;
   border: 3px solid brown;
   background: #1f2937;
   flex: 1;  
 }

.A {
   display: flex;
   text-align: center;
   justify-content: center;
   font-weight: 800;
 color: #F9FAF8
}

.B {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-height: 300px;
}

.signup {
background-color: #3882f6;
margin-left: 430px;
margin-right: 430px;
}

.flex-container3 {
  display: flex;
  border: 3px solid brown;
  justify-content: center;
}

.blue {
display: flex;
font-size: 36px;
font-weight: bold;
color: #1F2937 ;
}

.flex-container4 {
  display: flex;
}

.flex-container4 div {
  display: flex;
  border: 3px solid brown;
  height: 300px;
  flex: 1;  
  justify-content: center
;align-items: center;
}

img {
  max-height: 200px;
  }

  .flex-container5 {
    display: flex;
    border: 3px solid brown;
    height: 250px;
    flex: 1; 
  }

  .flex-container5 div {
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: #1F2937
    border: 3px solid brown;
    flex: 1;  
    justify-content: center
  }

  .flex-container6 {
    display: flex;
    background-color: #e5e7eb ;
    flex-direction: column;
    border: 3px solid brown;
    height: 400px;
    flex: 1; 
  }

  .flex-container6 div {
    align-items: center;
    display: flex;
    border: 3px solid brown;
    flex: 1;  
    justify-content: center
  }

  .fork {
    font-style: italic;
    font-size: 36px;
    background-color:#e5e7eb ;
    margin: 120px;
  }

  .flex-container7 {
    height: 400px;
    align-items: center;
    flex-direction: row;
    display: flex;
    border: 3px solid brown;
    flex: 1;  
    justify-content: center
  }

  .flex-container7 div {
    height: 150px;
    align-items: center;
    flex-direction: row;
    display: flex;
    border: 3px solid brown;
    flex: 1;  
    justify-content: center
  }

  .bed {
    font-style: italic;
    margin-left: 50px;
    color: white;
    font-size: 36px;
    background-color:#3882F6;
  }

  .table {
    font-style: italic;
    margin-right: 50px;
    color: white;
    font-size: 36px;
    background-color:#3882F6;
  }